__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
*.egg
.DS_Store
*.log
logs/
grafana_data/
prometheus_data/
*.db
node_modules/
